@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  background-color: rgb(241, 210, 216);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

img {
  min-width: 230px;
  width: 25%;
  max-width: auto;
  padding: 15px;
}

.nabidka {
  text-align: center;
  background-color: white;
  object-fit: scale-down;
  display: flex;
  flex-direction: column;
}

.nabidka__img {
  display: block;
  padding: 15px;
}

.nabidka__description {
  display: flex;
  flex-direction: row;
}

.nabidka__menu {
  display: flex;
}
