@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  background-color: rgb(241, 210, 216);
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  display: flex;
  align-items: center;
}

.img-home {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}

.nabidka {
  background-color: white;
}
