@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  background-color: rgb(241, 210, 216);
  display: flex;
  padding: 50px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.img-home {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.nabidka {
  background-color: white;
  display: flex;
  justify-content: center;
}
